/* Styling the buttons and small divs */
/* All sections seperated by a grey line */
/* Left Section */
.left {
  width: 25%;
  float:left;
}
/*  Middle Section */
.middle {
  width: 20%;
  float:left;
  padding: 10px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
/*  Right Section */
.right {
  width: 50%;
  float:right;
}
